@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.wrapper {
    text-align: center;
    padding: 2em;
    padding-top: 6em;
    height: 100vh;
}

.wrapper h1 {
    text-shadow: 5px 5px 0px #00ffc0;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 10em;
}

.wrapper h2 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 34px !important;
    font-weight: 700;
}

.wrapper p {

    font-weight: 500;
    font-size: 13px;
}

.wrapper a {
    box-shadow: 2px 2px 2px #00ffc0;
    font-weight: 500;
    border: 3px solid black;
    padding: 1em 2.5em;
}