header>.menu {
    display: flex;
    gap: 18px;
    align-items: center;
    animation: slide-left 0.3s both;
}

.active {
    color: white !important;
}

.menu>.back {
    margin-right: 20px;
}

.menu>input {
    min-width: 8em;
    height: 2.4em;
    width: 10em;
    font-size: 13px;
}


.dropdown>button {
    min-width: 8em;
    width: 10em;
    height: 2.4em;
    font-size: 13px;
    border-radius: 0%;
}

.dropdown>ul>li {
    cursor: pointer;
}

.dropdown>ul>li>a {
    font-size: 13px;
}

.dropdown_plus {
    width: 100%;
    display: block;
}

.add_new {
    font-size: 13px;
}

.user>button {
    background-color: blue;
    border: unset;
}

/* main section */

.notes_section {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.note {
    width: 9.4em;
    height: 9.7em;
    overflow-y: hidden;
    padding: 0 4px;

    /* animation: slide-left 0.3s both; */
}

.note:hover {

    cursor: pointer;
    position: relative;
    outline: 0.2em solid rgb(163, 163, 163);
    outline-offset: 0.1px;
}



.notes_section>a>h2:hover {
    color: #494949;
}

.note>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.note_title {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0%;
}

.note_title>p {
    margin-top: 2px;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.note_preview {
    margin: 0%;
    padding: 0%;
    white-space: pre-line;
}

.all_notes {
   
    display: flex;
    align-content: flex-start;
    overflow: auto;
    width: 100%;
    gap: 10px;
    height: calc(100vh - 4.5em);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 120px;

}



/* animation keyframe */

@keyframes slide-left {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}