.main {
    margin-top: 15vh;
}

.brand {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand>h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.button_group>button {
    background-color: transparent;
    width: 12em;
    border: unset;
}

.form_group>input {
    display: block;
    width: 100%;
    margin-bottom: 0.75rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.form_group>a {
    cursor: pointer;
    display: block;
}

.auth_link {
    color: rgb(59, 38, 107) !important;
    font-weight: 500;
}

.auth_link:hover {
    color: rgb(102, 84, 146) !important;
}


.signInEmail:hover {
    color: rgb(90, 90, 126);
}

@media only screen and (max-width: 600px) {
    .button_group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}