.main {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7px;
    margin-top: 10px;
}

.header_mainpage {
    width: 100%;
    padding: 0 50px;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
    animation: slide-left 0.3s both;
}

.title>p {

    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.title>h1 {

    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 24px;
    margin-top: unset !important;
    margin-bottom: 0 !important;

}

.user {
    z-index: 1000 !important;
    animation: slide-left 0.3s both;
}

.user>button {
    background-color: transparent;
    border: unset;
}

.user>button:hover,
.user>button:active {
    background-color: transparent !important;
}

.dropdown {
    font-size: 15px;
    min-width: 10em !important;
}

/* left and right panel font size  */
.button_label {
    font-size: 15px
}



/* add note section */

.add_note {
    animation: slide-left 0.3s both;
    display: flex;
    flex-direction: column;
    max-width: fit-content;

}


.add_block {
    min-width: 100px;
    min-height: 105px;
    width: 10em;
    height: 10em;
    border: 1px solid rgb(31, 1, 1);
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 247, 175, 255);
}

.add_note>a:last-child {
    margin-top: 10px;
}

.add_block:hover {
    outline: 2px solid rgb(134, 134, 134);
    outline-offset: 2px;
}

/* main note section */

.notes_section {
    width: 30.7em;
    animation: slide-left 0.3s 0.2s both;
}

.notes {
    width: 9.5em;
    overflow-y: hidden;
    padding: 0 4px;
    animation: slide-left 0.3s 0.2s both;
}

.notes:hover {
    cursor: pointer;
    position: relative;
    outline: 2px solid rgb(163, 163, 163);
    outline-offset: 0.19vmin;
}



.notes_section>a>h2:hover {
    color: #494949;
}

.notes>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.note_title {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0%;
}

.note_title>p {
    margin-top: 2px;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.note_preview {
    white-space: pre-line;
    margin: 0%;
    padding: 0%;
}

.all_note {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    overflow: auto;
    width: 100%;
    gap: 0.7em;
    height: 30.5em;
    padding: 0.3vmax;

}

/* more selection */

.more {
    min-width: 11em;
    animation: slide-left 0.3s both;
    z-index: 0;
}


.more_block:hover {
    outline: 2px solid rgb(134, 134, 134);
    outline-offset: 2px;
}

.more_block {
    height: 8em;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_block>svg {
    margin-right: 10px;
    fill: #e8e8ff;
}

.more_block:last-child {
    margin-top: 10px;
}

.more_block>p {
    color: #e2e2ff;
}

/* animation keyframe */

@keyframes slide-left {
    0% {
        transform: translateX(40px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}