.delete_all_notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 100px;
    height: 30px;
    animation: slide-left 0.3s both;
}

.delete_all_notes:hover{
    background-color: #c0bcbc;
}

.delete_all_notes>a>p{
    font-size: 12px;
}

/* main section */

.notes_section{
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: slide-left 0.3s 0.3s both;
    margin-top: 12px;
}

.note{
    width: 155px;
    height: 160px;
    overflow-y: hidden;
    padding: 0 4px;
}

.note:hover{
    height: 160px;
    padding: 0 2px;
    border: 2px solid grey;
}



.notes_section>a>h2:hover{
    color:#494949;
}

.note>p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.note_title{
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    width: 88%;
    display: inline-flex;
}

.note_title>p{
    margin-top: 2px;
    margin-bottom: -1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.note_preview{
    margin: 0%;
    padding: 0%;
}

.note_top{
    margin-top: -2px;
}

.note_top>svg{
    margin-left: 3px;
    width: 10px;

}

.all_notes{

    display: flex;
    align-content: flex-start;
    overflow: auto;
    width: 100%;
    gap: 10px;
    height: 530px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 120px;
    
}

/* animation keyframe */

@keyframes slide-left {
  0% {
            transform: translateX(40px);
            opacity: 0%;
  }
  100% {
            transform: translateX(0px);
            opacity: 100%;
  }
}