.delete_all_notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 17vh;
    height: 5vh;
    animation: slide-left 0.3s both;
}

.delete_all_notes:hover {
    background-color: #c0bcbc;
}

.delete_all_notes>a>p {
    cursor: pointer;
    font-size: 1.9vmin;
}

/* main section */

.notes_section {
    position: absolute;
    width: 100%;
    z-index: -1;
    animation: slide-left 0.3s 0.3s both;
    margin-top: 12px;
}

.note {
    width: calc(25.6vh - 1vh);
    height: 25.6vh;
    overflow-y: hidden;
    padding: 0 4px;

    /* animation: slide-left 0.3s both; */
}

.note:hover {

    cursor: pointer;
    position: relative;
    outline: 0.32vmin solid rgb(163, 163, 163);
    outline-offset: 0.2vmin;
}


.notes_section>a>h2:hover {
    color: #494949;
}

.note>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1vmin;
}

.note_title {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0%;
}

.note_title>p {
    margin-top: 2px;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.1vmin;
}

.note_title>svg {
    width: 0.9vw;
}

.note .note_preview {
    margin: 0%;
    padding: 0%;
    white-space: pre-line;
}

.note_top {
    margin-top: -2px;
}

.note_top>svg {
    margin-left: 3px;
    width: 10px;

}

.all_notes {

    display: flex;
    align-content: flex-start;
    overflow: auto;
    width: 100%;
    gap: 10px;
    height: 84.8vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 120px;

}

/* animation keyframe */

@keyframes slide-left {
    0% {
        transform: translateX(40px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}